*{
  margin: 0px;
  padding: 0px;
}
.customers-container {
  min-height: 100vh;
  background-color: #f9fafb;
  padding: 20px;
}

.customers-inner {
  max-width: 800px;
  margin: 0 auto;
}

.customers-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.customers-header1{
  display: flex;
}

.customers-back-btn{
 background-color: transparent;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px;
  margin-right: 5px;
  border: none;
  transition: background-color 0.2s ease, transform 0.2s ease;

}
.customers-back-btn:hover {
  background-color: #22c55e;
  color: white;
}
.customers-add-btn{

  background-color: transparent;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid rgb(182, 175, 175);
  transition: background-color 0.2s ease, transform 0.2s ease;

}
.customers-add-btn:hover {
  background-color: #22c55e;
  color: white;
}


.customers-title h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.customers-title p {
  color: #6b7280;
  font-size: 1.2rem;
}

.customers-search {
  width: 100%;
  position: relative;
  margin-top: 20px;

}

.customers-search-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
  height: 20px;
  width: 20px;
}

.customers-search-input {
  width: 97%;
  padding: 0px;
  padding-left: 3%;
  height: 56px;
  font-size: 1rem;
  border-radius: 15px;
  border: 1px solid rgb(176, 171, 171);
  background-color: rgb(220, 218, 218);
}

.customers-list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.customer-card {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 16px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: white;
}

.customer-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.customer-card-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.customer-info{
  display: block;
}
.customer-info h3 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.customer-details {
  margin-top: 4px;
  color: #6b7280;
}

.customer-detail {
  display: flex;
  align-items: center;
  gap: 8px;
}

.customer-detail .icon {
  height: 16px;
  width: 16px;
  color: #6b7280;
}

.customer-balance p {
  font-size: 0.9rem;
  color: #6b7280;
  margin-bottom: 4px;
}

.customer-balance h4 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #111827;
  margin: 0;
}